.footer {
  background-color: $black-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__wrapper {
    margin-right: 94px;
  }

  &__logo {
    margin-bottom: 20px;
    display: inline-block;

    &--color {
      color: $white-text-color;
    }
  }
}