.team {
  background-color: $grey-bcg;
  margin: 0 auto;

  &__list {
    display: block;
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and(min-width:1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and(min-width:768px) {
      width: 354px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
    @media screen and(min-width:1200px) {
      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__description {
    background-color: $white-text-color;

    text-align: center;
    padding: 30px 122px 24px;
    border-radius: 0px 0px 4px 4px;

    @media screen and(min-width:768px) {
      padding-right: 74px;
      padding-left: 74px;
    }
    @media screen and(min-width:1200px) {
      padding: 30px 32px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
  }

  &__position {
    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 16px;
  }
}