.team {
  background-color: $grey-bcg;
  margin: 0 auto;

  &__list {
    display: flex;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__description {
    background-color: $white-text-color;

    text-align: center;
    padding: 30px 32px;

    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
  }

  &__position {
    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 16px;
  }
}