.address {
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: $white-text-color;

    line-height: 1.71;
    font-style: normal;

    transition: color 250ms $timing-function;

    &--transparent {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}