/* Контакти */
.contacts {
  display: flex;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: $secondary-text-color;
    fill: currentColor;

    font-weight: 500;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    margin-right: 10px;
  }
}