
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$black-background-color: #2f303a;
$grey-bcg: #f5f4fa;
$border-project-color: #eeeeee;
$header-border-color: #ececec;
$secondary-grey-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$logo-text-color: #000000;


@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}